.tile-container {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tile-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

.tile-link .tile {
  width: 250px;
  height: 175px;
  border: #000 solid 2px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.tile span {
  border-radius: 10px;
  padding: 2px;
  background-color: #0000005d;
  color: #eee;
}

.tile-link .tile:hover {
  box-shadow: 0 0 3px 3px #444;
}

#Assignments {
  background: url("./pexels-olia-danilevich-5088021.jpg") center;
}

#Classroom {
  background: url("./pexels-pixabay-256395.jpg") center;
}

#Create {
  background: url("./pexels-kaboompics-com-6375.jpg") center;
}
